---
layout: layout.njk
permalink: /usefulness/
eleventyNavigation:
  key: Usefullness
  order: 2
---

<h1>Cool, but is it useful?</h1>

{% set postslist = collections.usefulness %}
{% include "postslist.njk" %}